/*body {*/
    /*background-color: #c7c7c7;*/
/*}*/

.navbar-for-index{
    min-height: 110px;
}

.navbar-brand-for-index {
    margin-right: -15px;
    padding: 20px 15px;
}



.header_content-for-index {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    float: left;
    background: black;
}
.header_content_left_img {
    float: left;
}
.header_content_left_img img {
    height: 100px;
    padding-left: 15px;
}

.header_content_right_img {
    float: right;
}
.header_content_right_img img {
    height: 100px;
    padding-right: 15px;
}

.header-font {
    font-size: 20px;
}

 .col-lg-9-for-admin {
    float: left;
    width: 80%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 35px;
}
.page-header-for-admin {
  padding-bottom: 9px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #eee;
}

.text-for-admin {
    text-align: center;
    font-size: large;
    font-family: 新宋体;
}
.text-for-admin-2 {
    text-align: center;
    font-size: large;
    font-family: 新宋体;
    height: 40px;
}

.left-content-for-admin {
    list-style-type: none;
    margin-top: 0;
    -webkit-padding-start: 10px;
}
.left-content-for-admin-2 {
    list-style-type: none;
    margin-top: 0;
    -webkit-padding-start: 10px;
    display: none;
}

table td:nth-child(1),th:nth-child(1){
    border-right: 1px solid #ddd;
    text-align: center;
    width: 5%;
}


table td:nth-child(2),th:nth-child(2){
    border-right: 1px solid #ddd;
    text-align: center;
    width: 5%;
}
table td:nth-child(3),th:nth-child(3){
    border-right: 1px solid #ddd;
    width: 30%;
}

table td:nth-child(4),th:nth-child(4){
    border-right: 1px solid #ddd;
    text-align: center;
    width: 5%;
}

table td:nth-child(5),th:nth-child(5){
    border-right: 1px solid #ddd;
    text-align: center;
    width: 10%;
}

table td:nth-child(6),th:nth-child(6){
    border-right: 1px solid #ddd;
    text-align: center;
    width: 8%;
}

table td:nth-child(7),th:nth-child(7){
    /*border-right: 1px solid #ddd;*/
    text-align: center;
    width: 10%;
}
