.page-sidebar {
    background-color: #3d3d3d;
    height: 980px;
    float: left;
    width: 225px;
    margin-top: 50px;
}

ul.page-sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.page-sidebar-menu > li {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
}


ul.page-sidebar-menu > li > ul.sub-menu {
    display: none;
    list-style: none;
    clear: both;
}

ul.page-sidebar-menu > li > a {
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}

ul.page-sidebar-menu > li > a {
    border-top: 1px solid #5c5c5c !important;
    color: #ffffff !important;
}

