{% extends 'backend/base.html' %}
{% block right-content %}
<div style="margin-top: 60px; float: left;margin-left: -15px;">

    <div class="container-fluid" >
    <!--右侧栏-->
    <div class="col-lg-10" style="position: absolute; ">
        <!--右侧栏 显示章内容列表-->

    <div class="panel panel-default">
        <div class="panel-heading text-for-admin-2" style="height: 55px;">
            <span class="pull-right">
                <a class="btn btn-success" href="{% url 'edit_article' %}">添加分类</a>
                <a class="btn btn-info" name="delete-all">批量删除</a>
            </span>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th><input name="checked-all" type="checkbox"></th>
                <th>#</th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>

            <tbody>

            {% for catagory in page_obj %}
                <tr name="RowId" row-id="{{ catagory.id }}">
                    <td scope="row">
                    <label>
                        <input name="checked-one" type="checkbox">
                    </label>
                    </td>
                    <td scope="row">
                        {{ current_page_first|add:forloop.counter }}

                    </td>

                    <td>
                        <input class="form-control" id="input{{ catagory.id }}" type="text" value="{{ catagory.name }}" disabled>
                    </td>

                    <td style="width: 190px;">
                        <a class="btn btn-info" id="Ok">Ok</a>
                        <a class="btn btn-success" id="Edit">Edit</a>
                        <a href="{% url "tags_admin" %}?tag-id={{ catagory.id }}&command=delete" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

        <!--右侧栏 底部文章分页码-->
    <div>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
            {% endif %}

            {% for pg in page_obj.paginator.page_range %}
                {% if page_obj.number == pg %}
                    <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% else %}
                    <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next  %}
                <li><a href="?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
            {% endif %}
        </ul>
    </div>


    </div>
</div>

</div>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        $(document).on("click", "[name='edit']", function () {
            var rowId = $(this).closest('tr').attr("row-id");
            $.ajax({
                type: "POST",
                url: "{% url 'submit_article_id' %}",
                data: {'article_info': rowId},
                dataType: "json",
                success: function (data) {
                    console.log('ok');
                }
            });
        }); //后台 POST

        $(document).on("click", "[name='checked-all']", function () {
            if (this.checked) {
                $("[name='checked-one']").prop("checked", true);
            } else {
                $("[name='checked-one']").prop("checked", false);
            }

        }); //全选反选框


        $(document).on("click", "#Edit", function () {
            var rowId = "#input"+ $(this).closest('tr').attr("row-id");
            console.log(rowId);
            $(rowId).attr("disabled", false);

        }); //可以编辑input框

        $(document).on("click", "#Ok", function () {
            var rowId = "#input" + $(this).closest('tr').attr("row-id");
            if ($(rowId).attr('disabled') == 'disabled') {
                alert('先选择编辑');
            }
            else {
                console.log($(rowId).val());
                var data = {};
                data['key_post'] = $(this).closest('tr').attr("row-id");
                data['value_post'] = $(rowId).val();

                $.ajax({
                url:'{% url 'catagory_admin' %}',
                type:'POST', //GET
                async:true,    //或false,是否异步
                data:data,
                timeout:5000,    //超时时间
                dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                beforeSend:function(xhr){
                    console.log(xhr)
                    console.log('发送前')
                },
                success:function(data,textStatus,jqXHR){
                    console.log(data)
                    console.log('成功')
                    console.log(textStatus)
                    console.log(jqXHR)

                    window.location.reload();
                },
                error:function(xhr,textStatus){
                    console.log('错误')
                    console.log(xhr)
                    console.log(textStatus)
                },
                complete:function(){
                    console.log('结束')
                }
            })
            }
        }); //修改input容


        $(document).on("click", "[name='delete-all']", function () {

            var select_checked_article_list = [];

            //找出所有显示的主机
            var checked_article_list = $("input[name='checked-one']");

            //循环这些主机，
            $.each(checked_article_list, function(index, ele){
                //如果被选择了就放入selected_hosts列表中
                if($(ele).prop("checked")){
                    var bbb = $(ele).closest('tr').attr("row-id");
                    select_checked_article_list.push(bbb);
                }

            });


            //要一起删除的文章ID传到后台去
            $.ajax({
                type: "POST",
                url: "{% url 'article_admin' %}",
                data: {'select_checked_article_list': select_checked_article_list},
                dataType: "json",
                success: function (data) {
                    console.log('ok');
                }
            });

        });//拿到选择的文章ID
    });

</script>
{% endblock %}




