{% extends 'frontend/base.html' %}
{% block container %}
<section class="container">
  <div class="panel">
    <div class="text-center">
      <h2><stong>404错误！很抱歉，您要找的页面不存在</stong></h2>
      <br />
      <div>
        <div class="float-right"> <img src="/static/images/404/right.png" width="260" class="hidden-xs" alt="" /> </div>
      </div>
      <div class="padding-big"> <a href="{% url 'index' %}" class="btn btn-primary">返回首页</a> <a href="{% url 'index' %}" class="btn btn-default">保证不打死管理员</a> </div>
    </div>
  </div>
</section>
{% endblock %}

