{% extends 'frontend/base.html' %}
{% block container %}
<section class="container container-page">
  <div class="pageside">
    <div class="pagemenus">
      <ul class="pagemenu">
        <li><a href="tags.html">标签云</a></li>
        <li><a href="readers.html">读者墙</a></li>
        <li><a href="links.html">友情链接</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <header class="article-header">
      <h1 class="article-title">友情链接</h1>
    </header>
    <ul class="plinks">
      <li><a href="" title="" target="_blank" rel="nofollow"><img src="/static/images/icon/favicon.ico" alt="">异清轩</a></li>
      <li><a href="" title="" target="_blank" rel="nofollow"><img src="/static/images/icon/favicon.ico" alt="">异清轩</a></li>
      <li><a href="" title="" target="_blank" rel="nofollow"><img src="/static/images/icon/favicon.ico" alt="">异清轩</a></li>
      <li><a href="" title="" target="_blank" rel="nofollow"><img src="/static/images/icon/favicon.ico" alt="">异清轩</a></li>
      <li><a href="" title="" target="_blank" rel="nofollow"><img src="/static/images/icon/favicon.ico" alt="">异清轩</a></li>
      <li><a href="" title="" target="_blank" rel="nofollow"><img src="/static/images/icon/favicon.ico" alt="">异清轩</a></li>
      <li><a href="" title="" target="_blank" rel="nofollow"><img src="/static/images/icon/favicon.ico" alt="">异清轩</a></li>
    </ul>
  </div>
</section>
{% endblock %}