{% extends 'frontend/base.html' %}
{% block container %}
<section class="container container-page">
  <div class="pageside">
    <div class="pagemenus">
      <ul class="pagemenu">
        <li><a href="tags.html">标签云</a></li>
        <li><a href="readers.html">读者墙</a></li>
        <li><a href="links.html">友情链接</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <header class="article-header">
      <h1 class="article-title">标签云</h1>
    </header>
    <ul class="plinks ptags">
      <li><a href="" title="" target="_blank">这个是标签 <span class="badge">42</span></a></li>
      <li><a href="" title="" target="_blank">这个是标签 <span class="badge">42</span></a></li>
      <li><a href="" title="" target="_blank">这个是标签 <span class="badge">42</span></a></li>
      <li><a href="" title="" target="_blank">这个是标签 <span class="badge">42</span></a></li>
    </ul>
  </div>
</section>

{% endblock %}