<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <script src="/static/js/jquery-3.2.1.js"></script>
    <script language="JavaScript" type="text/javascript" src="/static/js/tinymce/jquery.tinymce.min.js"></script>

</head>

<body>


<div class="page-header-for-admin">
  <h1 class="text-center"> </h1>
</div>


<div class="col-lg-2">

    <div class="list-group text-for-admin">
        <ul class="left-content-for-admin" id="drop1">
            <li>
                <a href="#" class="list-group-item active" id="dropdown1">文章管理<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>

                <ul class="left-content-for-admin" >
                    <li><a href="#" class="list-group-item">文章管理</a></li>
                    <li><a href="#" class="list-group-item">文章管理</a></li>
                    <li><a href="#" class="list-group-item">文章管理</a></li>
                </ul>
            </li>

        </ul>


</div>




</div>






<script>
    $(document).ready(function(){
        $("#dropdown1").next().hide();
        $("#dropdown1").click(function(){
            $(this).next().find("a").css("background-color","#f5f5f5");
            $(this).next().toggle(500);})

      });
</script>


<div  class="col-lg-9-for-admin">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading text-for-admin-2">当前文章列表</div>
{#  <div class="panel-body">#}
{#    <p>...</p>#}
{#  </div>#}

  <!-- Table -->
<table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>序号</th>
            <th>标题</th>
            <th>分类</th>
            <th>发布时间</th>
            <th>作者</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
        {% for article in article_list %}
          <tr>
            <td scope="row"><label>
              <input type="checkbox">
            </label></td>
            <td scope="row">1</td>
            <td>{{ article.title }}</td>
            <td>{{ article.catagory }}</td>
            <td>{{ article.publish_time }}</td>
            <td>{{ article.author }}</td>
            <td>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> &nbsp;&nbsp;&nbsp;


            </td>



          </tr>
        {% endfor %}
        </tbody>
      </table>




</div>
<ul class="pagination">
        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
     </ul>
</div>

<!-- tinyMCE -->


<script language="javascript" type="text/javascript">

tinyMCE.init({
mode : "specific_textareas",
theme:"advanced",
language:"zh-CN"

}
);

</script>

<!-- /tinyMCE -->



</body>
</html>