<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <script src="/static/js/jquery-3.2.1.js"></script>
</head>

<body>

<!--大标题-->
<div class="page-header-for-admin">
{#  <h1 class="text-center">博客后台管理系统</h1>#}
</div>


<!--左侧栏-->
<div class="col-lg-2">
    <div class="list-group text-for-admin">
        <ul class="left-content-for-admin" id="drop1">
            <li>
                <a href="#" class="list-group-item active" id="dropdown1">文章管理<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                <ul class="left-content-for-admin" >
                    <li><a href="#" class="list-group-item">文章管理</a></li>
                    <li><a href="#" class="list-group-item">文章管理</a></li>
                    <li><a href="#" class="list-group-item">文章管理</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!--右侧栏-->
<div class="col-lg-9-for-admin">
    <!--右侧栏 删除 添加新文章按钮-->
    <div>
        <a href="{% url 'edit_article' %}" class="pull-right">新文章</a>
        <br/>
        <br/>
        <button>删除</button>
        <br/>
    </div>

    <!--右侧栏 显示章内容列表-->
    <div class="panel panel-default">
        <div class="panel-heading text-for-admin-2">当前文章列表</div>

        <table class="table">
            <thead>
                <tr>
                    <th>全选</th>
                    <th>序号</th>
                    <th>标题</th>
                    <th>分类</th>
                    <th>发布时间</th>
                    <th>作者</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                {% for article in article_list %}
                  <tr row-id="{{ article.id }}">
                    <td scope="row"><label>
                      <input type="checkbox">
                    </label></td>
                    <td scope="row">1</td>
                    <td>{{ article.title }}</td>
                    <td>{{ article.catagory }}</td>
                    <td>{{ article.publish_time }}</td>
                    <td>{{ article.author }}</td>
                    <td>
                        <a href="{% url "edit_article" %}?article-id={{ article.id }}&command=delete">
                            <span class="glyphicon glyphicon-pencil">删除</span>
                        </a>
                        &nbsp;&nbsp;
                        <a href="{% url "edit_article" %}?article-id={{ article.id }}&command=null">
                            <span class="glyphicon glyphicon-pencil">编辑</span>
                        </a>
                    </td>
                  </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>

    <!--右侧栏 底部文章分页码-->
    <div>
        <ul class="pagination">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
         </ul>
    </div>
</div>

</body>
<script src="/static/js/custom.js"></script>
<script>
    $(document).ready(function(){
        $(document).on("click","[name='edit']",function(){
            var rowId=$(this).closest('tr').attr("row-id");
            $.ajax({
             type: "POST",
             url: "{% url 'submit_article_id' %}",
             data: { 'article_info': rowId},
             dataType: "json",
             success: function(data){
                 console.log('ok');
                }
             });
        });
    });
</script>
</html>