<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/plugins/kindeditor/themes/default/default.css" rel="stylesheet">

</head>

<body>

{#<!--大标题-->#}
<div class="page-header-for-admin">
    <h1 class="text-center">Hello Blog</h1>
</div>

<!--左侧栏-->
<div class="col-lg-2">
    <div class="list-group text-for-admin">
        <ul class="left-content-for-admin" id="drop1">
            <li>
                <a href="#" class="list-group-item active" id="dropdown1">文章管理<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a>
                <ul class="left-content-for-admin" >
                    <li><a href="#" class="list-group-item">文章管理</a></li>
                    <li><a href="#" class="list-group-item">文章管理</a></li>
                    <li><a href="#" class="list-group-item">文章管理</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!--编辑文章-->
<div class="col-lg-9-for-admin">

    <form>
        {% csrf_token %}
        <span>标题 : </span><input id="article_id" style="width: 70%;" type="text" name="title"/>
        <br/>
        <br/>
        <span>分类 : </span>
        <select id="catatory">

            {% if current_catagory_info %}
                <option>{{ current_catagory_info }}</option>
            {% endif %}


            {% for line in all_catagory_info_list %}
                {% if line != current_catagory_info %}
                    <option>{{ line }}</option>
                {% endif %}

            {% endfor %}
        </select>(请选择)
        <br/>
        <br/>

        <textarea id="editor_id" name="content" style="width:800px;height:400px;visibility:hidden;"></textarea>
        <br/>

        <input type="radio" value="" checked="checked" />允许评论
        <input type="radio" value="" />不许评论


        <br/>
        <br/>
            <button name="submit" type="button">保存</button>
            <button type="button">退出</button>

        </form>
    </div>

</body>
{#<script src="/static/js/custom.js"></script>#}
<script src="/static/js/jquery-3.2.1.js"></script>
<script src="/static/plugins/kindeditor/kindeditor-all.js"></script>
<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = K.create('textarea[name="content"]', {
            allowFileManager : true,
            filterMode : false,
            wellformatmode : false
        });


        editor.html('{{ article_info.content|safe }}');

    });

    $(document).ready(function () {
        //如果有后台发过来的文章详情,没有就是新加文章

        if ('{{ article_info }}' != ''){
            $("[name='title']").val('{{ article_info.title|safe }}');
        }



        $(document).on('click','[name="submit"]',function () {
            var data = {};
            if ('{{ article_info }}' != ''){
                data['id'] = '{{ article_info.id }}';
            }
            data['catagory_post'] = $("#catatory").val();
            data['content_post'] = editor.html().replace(/(\n)/g, "");
            data['title_post'] = $("[name='title']").val();

            console.log(data);
              $.ajax({
                  type: "POST",
                  dataType: "json",
                  url: {% url 'edit_article' %},
                  data: data,
                  async : false,
                  success:function(data){
                        console.log('ok');
                        window.location.href = '{% url 'article_admin' %}';
                    },
                  beforSend:function(){
                        // 禁用按钮防止重复提交
                        $("#submit").attr({ disabled: "disabled" });
                    },
                complete:function(msg){
                    //请求完成后调用的回调函数（请求成功或失败时均调用）
                } ,
                error:function(msg){
                    //请求失败时被调用的函数
                } ,
                Sucess:function(callback){
                    alert('ok');
                }
              });


        });

    });



</script>

</html>