<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>myblog</title>

    <link href="/static/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
</head>
<body>

<header class="navbar-for-index navbar-static-top" >

    <div class="header_content-for-index">
        <div class="header_content_left_img" ><img  src="/static/img/logo1.jpg"></div>
            <ul class="nav navbar-nav navbar-brand-for-index header-font">
                <li>
                    <a>系统运维</a>
                </li>
                <li class="active">
                    <a>脚本编程</a>
                </li>
                <li>
                    <a>运维工具</a>
                </li>
                <li>
                    <a>linux基础</a>
                </li>
                <li>
                    <a>关键idea</a>
                </li>
                <li>
                    <a>自我疗伤</a>
                </li>
                <li>
                    <a>联系我</a>
                </li>
            </ul>
        <div class="header_content_right_img"><img src="/static/img/logo2.jpg"></div>
    </div>
</header>


</body>
</html>

